{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-center">
        <form class="border-primary border" method="post" action="vote.py" id="vote-from">
            <input type="hidden" name="election" value="{{ election.id }}">
            <input type="hidden" name="user" value="{{ user.id }}">
            {% for candidate in candidates %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="{{ candidate.index }}" name="votes" value="{{ candidate.index }}">
                    <label class="form-check-label" for="{{ candidate.index }}">{{ candidate.surname }}, {{ candidate.name }}</label>
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-outline-primary m-3">Oddaj głos</button>
            <button type="reset" class="btn btn-outline-danger m-3">Resetuj głos</button>
        </form>
    </div>

    <script>
        function onlyOneCheckBox() {
            var checkboxgroup = document.getElementsByClassName("form-check-input");

            //Note #2 Change max limit here as necessary
            var limit = {{ election.seats }};

            for (var i = 0; i < checkboxgroup.length; i++) {
                checkboxgroup[i].onclick = function() {
                    var checkedcount = 0;
                    for (var i = 0; i < checkboxgroup.length; i++) {
                        checkedcount += (checkboxgroup[i].checked) ? 1 : 0;
                    }
                    if (checkedcount > limit) {
                        console.log("You can select maximum of " + limit + " checkbox.");
                        alert("Wybierz nie więcej niż " + limit + " kandydatów.");
                        this.checked = false;
                    }
                }
            }
        }

        onlyOneCheckBox()
    </script>
{% endblock %}
